h1{
    background-color: #fde9fb;
    padding: 35px;
    width:110%;
    height: 110%;
    margin-top: -10px;
    text-align: center;
    font-family: Andale Mono, monospace;
    color: #b35cd1;
    letter-spacing: 2px;
    border: 0.5px solid rgb(158, 154, 154);
}