table{
    background-color: #fde9fb;
    padding: 30px;
    margin: 40px;
    color:#b35cd1;
    font-family: Andale Mono, monospace; 
    border: 0.5px solid rgb(158, 154, 154);
    border-collapse: separate;
    border-spacing: 15px;
}
p{ 
    font-size: xx-large;
    border: #fde9fb;
    text-align: center;
}
.td{
    font-size:xx-small;
}

