.songform{
    background-color: #fde9fb;
    padding: 40px;
    color: #b35cd1;
    font-family: Andale Mono, monospace;
    width:fit-content;
    border: 0.5px solid rgb(158, 154, 154);
    float: right;
    position: relative;
    top: -982px;
    margin:130px
}

.SongFormButton{
    background-color: #b35cd1;
    color: white;
    font-family: Andale Mono, monospace;
    border-style: solid;
    border-color: #b35cd1;
    padding: 5px;
    position: relative;
    left: 26%;
    width: 101px;
}

input{
    border: none;
}
legend{
    font-size: x-large;
    text-align: center;
}