table, th, td{
    background-color: #fde9fb;
    padding: 20px;
    margin: 130px;
    color:#b35cd1;
    font-family: Andale Mono, monospace; 
    border: 0.5px solid rgb(158, 154, 154);
    text-align: center;

}
.savedsongs{ 
    font-size: xx-large;
    text-align: center;
    position: relative;
    left: 350px;
}
.td{
    font-size:xx-small;
}

td, th{
    background-color: #fcf6fb;
}

th{

    font-size: large;
}